<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>mycms/index</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'mycms/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mycms/css/mypage.css' %}">
  </head>
  <body>
    {% include 'mycms/partial_navbar.html' %}
    
    {% block content %} {% endblock %}

    {% include 'mycms/partial_bootstrap_footer.html' %}
  </body>
</html>