{% extends 'mycms/base.html' %}
{% block content %}

  {% if not past_articles %}
  <article>
    記事がありません。
  </article>
  {% else %}
  
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-right"><a href="{% url 'past_article' past_num|add:"1" %}">&lt;&lt;</a>
            {% if past_num > 0 %} | <a href="{% url 'past_article' past_num|add:"-1" %}">&gt;&gt;</a> {% endif %}</p>
        </div>
      </div>
    </div>
  
  {% for article in past_articles %}
  <article class="index_article">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="post-header">
            <h1 class="post-title"><a href="{% url 'article' article.id %}">{{ article.subject }}</a></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="post-content">
            {{ article.body|safe }}
            <span class="post-date">投稿日時: {{ article.post_date|date }}</span>
            <span class="post-author">{{ article.post_author.screen_name }}</span>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </article>
  {% endfor %}

  {% endif %}
  
{% endblock %}